@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Changed to white */
  --background-end-rgb: 255, 255, 255;   /* Changed to white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Set to white */
}

/* Smooth scrolling for the entire document */
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide the default carousel dots */
.ant-carousel .slick-dots {
  display: none !important;
}

/* Custom swiper pagination bullets */
.swiper-pagination-bullet {
  background-color: #000;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ff0000;
}

/* Custom drop shadow */
.custom-drop-shadow {
  box-shadow: 0 20px 25px -5px rgba(230, 238, 241, 1), 0 10px 10px -5px rgba(230, 238, 241, 1);
}

/* Custom light shadow */
.custom-light-shadow {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}

.ant-layout-sider-children{
  background: white !important;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

/* Add this CSS to your globals.css or style file */

/* Spinner animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes showLetter {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.loading-text .letter {
  opacity: 0;
  display: inline-block;
  animation: showLetter 0.5s forwards;
}

.loading-text .letter:nth-child(1) {
  animation-delay: 0.1s;
}
.loading-text .letter:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-text .letter:nth-child(3) {
  animation-delay: 0.3s;
}
.loading-text .letter:nth-child(4) {
  animation-delay: 0.4s;
}
.loading-text .letter:nth-child(5) {
  animation-delay: 0.5s;
}
.loading-text .letter:nth-child(6) {
  animation-delay: 0.6s;
}
.loading-text .letter:nth-child(7) {
  animation-delay: 0.7s;
}
.loading-text .letter:nth-child(8) {
  animation-delay: 0.8s;
}
.loading-text .letter:nth-child(9) {
  animation-delay: 0.9s;
}

.animated-slide {
  position: relative;
}

.slide-piece {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1.2s ease-in-out;
}



.left-piece {
  clip-path: polygon(0 0, 50% 60, 50% 100%, 60 100%);
}

.right-piece {
  clip-path: polygon(50% 60, 100% 60, 100% 100%, 50% 100%);
}

/* When animating, pieces break apart */


.animated-slide .left-piece {
  transform: translateX(-100%);
}

.animated-slide .right-piece {
  transform: translateX(100%);
}


