@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Changed to white */
  --background-end-rgb: 255, 255, 255;   /* Changed to white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Set to white */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide the default carousel dots */
.ant-carousel .slick-dots {
  display: none !important;
}

/* Add this to your global CSS file or as inline styles in your component */
.swiper-pagination-bullet {
  background-color: #000; /* Change to your desired color */
  opacity: 1; /* Ensure the bullets are visible */
}

.swiper-pagination-bullet-active {
  background-color: #ff0000; /* Change to your active bullet color */
}


/* In your CSS file */
.custom-drop-shadow {
  box-shadow: 0 20px 25px -5px rgba(230, 238, 241, 1), 0 10px 10px -5px rgba(230, 238, 241, 1);
}


.custom-light-shadow {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.05);
}
